.form-newsletter{
 display: flex;
 align-items: center;
}

.form-newsletter input{
  padding: 1rem 0.5rem;
  width: 60%;
  border: none;
  outline: none;
  color: #202020;
}

.form-newsletter button{
  padding: 1rem 0.75rem;
  border: none;
  background: #FFCB47;
  color: #ffffff;
}